<?xml version="1.0"?>
<robot name="/home/diogo/catkin_ws/src/robots/barbot/barbot_description/urdf/barbot.urdf" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link">
  </link>
  <link name="bar_link">
  </link>
  <joint name="base_link_bar_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="bar_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="gyro">
  </link>
  <joint name="bar_link_gyro_joint" type="fixed">
    <parent link="bar_link"/>
    <child link="gyro"/>
    <origin xyz="0 0 0.055" rpy="0 0 0"/>
  </joint>
  <link name="accelerometer">
  </link>
  <joint name="bar_link_accelerometer_joint" type="fixed">
    <parent link="bar_link"/>
    <child link="accelerometer"/>
    <origin xyz="0 0 0.055" rpy="0 0 0"/>
  </joint>
</robot>
